<h2>プロフィール編集</h2>
<%= form_with model: @user do |f| %>

  <label for="inputName">Name</label>
  <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"Name" %>

  <label for="inputImage">Image</label>
  <%= f.file_field :profile_image, placeholder: "ファイルを選択, accept: "image/*" %>

  <label for="inputIntoroduction">IntroductionIntroduction</label>
  <%= f.text_field :introduction, autofocus: true, id:"inputintroduction", placeholder:"Introduction" %>

  <%= f.submit "Update User" %>
<% end %>
