  <p id="notice"></p>
  <div class="container px-5 px-sm-0">
    <div class="col-md-3">
      <!-- 部分テンプレート -->
     <h2><strong>Books</strong></h2>
      <table>
     　<tr>
　      <th></th><th>Title</th><th>Opinion</th></tr>
　        <% @books.each do |book| %><!-- ユーザーの投稿一覧 -->
　      <tr>
　      <td></td>
　      <td><%= image_tag user.get_profile_image(100,100) %></td>
　      <td><%= link_to book_path(user) %><%= book.title %></td>
　      <td><%= book.body %></td>
　       <td><%= link_to 'Show', book_path(book) %></td>
　     </tr>
       　<% end %>
       </table>
    </div>
  </div>
