    <p id="notice"></p>
    <div class="container px-5 px-sm-0">
      <div class="row">
        <div class="col-md-3">

          <%= render 'users/part', user: @book.user %>
           <!-- 部分テンプレート -->
        </div>
        <div class="col-md-8 offset-md-1">
         <h2><strong>Book detail</strong></h2>
          <table class="table table-hover table-inverse">
           <tr>
            <td></td>
            <td><%= link_to user_path(@book.user) do %>
            <%= image_tag @book.user.get_profile_image(100,100) %></br>
            <%= @book.user.name %><% end %></td>
            <td><%= link_to book_path do%><%= @book.title %><% end %></td>
            <td><%= @book.body %></td>
          <% if @book.user == current_user %>
            <td><%= link_to edit_book_path(@book.id), class: 'btn btn-sm btn-success' do %>Edit<% end %></td>
            <td><%= link_to 'Destroy', @book, method: :delete, data: {confirm: "本当に消しますか？"}, class: 'btn btn-sm btn-danger' %></td>
          <% end %>
           </tr>
          </table>
       </div>
     </div>
   </div>