<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum_scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/4c2477e0ba.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/"><span>Booker</span></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to 'Users', user_path(current_user.id), class: 'nav-link text-light' %>
              </li><!--ユーザー一覧　user_indexに変更 -->
              <li class="nav-item">
                <%= link_to 'Books', new_post_image_path, class: 'nav-link text-light' %>
              </li><!-- 投稿一覧　book_indexに変更 -->
              <li class="nav-item">
                <%= link_to "Log out", destroy_user_session_path, method: :delete, class: 'nav-link text-light' %>
              </li>
              <% else %>
              <%= link_to 'Home', class: 'nav-link text-light' %>
              </li><!--トップ画面に変更 -->
              <li class="nav-item">
                <%= link_to 'about', new_post_image_path, class: 'nav-link text-light' %>
              </li><!-- aboutページに変更 -->
              <li class="nav-item">
                <%= link_to "Sign up", new_user_registration_path, class: 'nav-link text-light' %>
              </li>
              <li class="nav-item">
                <%= link_to "Log in", new_user_session_path, class: 'nav-link text-light' %>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <div class="destroy-message"><!-- Signed in successfully.に変更 -->
    <%= flash[:notice] %>
      </div>
    <div class="container px-5 px-sm-0">
      <div class="row">
        <div class="col-md-3">
          <h2>User info</h2>
           <div class="col-2">
             <%= image_tag post_image.user.get_profile_image(100,100), class: "mt-3 rounded-circle"; %>
           </div> <<!--プロフィール画像実装確認 -->>
　　　　　　<tbody>
　　　　　　  <tr></tr>
　　　　　　  <tr>
　　　　　　  <th>name</th>
　　　　　　  <th><!-- ユーザー名 --></th>
　　　　　　  </tr>
　　　　　　  <tr>
　　　　　　    <th>introduction</th>
　　　　　　    <th></th>
　　　　　　  </tr>
　　　　　　</tbody>
            <div class="row">
              <a class="btn btn-outline-secondary btn-block">
                <i class="fas fa-user-cog"></i>
                <!-- userのeditページ -->
              </a>
            </div>
            <div class="row">
            <h2 class="mt-3">New book</h2>
              <%= form_with model: @book do |f| %>
             <div class="form-group">
             <label for="book_title">Title</label>
              <%= f.text_field :title %>
             </div>
             <div class="form-group">
               <label for="book_opinion">Opinion</label>
              <%= f.text_area :body %>
              </div>
             <br>
              <%= f.submit 'Create Books', class:'btn btn-success' %>
             <% end %>
            </div>
      </div>
    </div>
    <!-- ここからUserの記事一覧 -->
    <h2><strong>Books</strong></h2>
<table>
　<tr>
　  <th>Title</th><th>Opinion</th></tr>
　  <% @books.each do |book| %><!-- ユーザーの投稿一覧 -->
　  <tr>
　    <td></td>
　    <td><%= book.title %></td>
　    <td><%= book.body %></td>
　    <td></td>
　  </tr>
　<% end %>
 </table>

      <%= yield %>
    </main>
    <footer>
     <div class="container mt-5">
       <div class="row">
        <div class="mx-auto">
          <p>CopyRight Infratop.inc</p>
        </div>
       </div>
     </div>
 </footer>
  </body>
</html>
